


.container{
    margin: auto auto;

}
h2{
    text-align: center;
    color: blue;
}
p{
    color: blue;
}
.left{
    float: left;
    width: 48%;
}
.right{
    text-align: right;
}

table {
    width:100%;
    height: 300px;
    text-align: center;

}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;

}
th{
    width: 10%;
    background-color: yellow;

}
.row2{
    font-weight: bold;
    background-color: orange;
}
.white{
    background-color: white;
}





.clearfix::after{
    content: "";
    display: table;
    clear: both;
}